.intro {
    margin: 0 auto;
    padding: 290px 0 420px;
    text-align: center;
    will-change: transform;
    z-index: 1;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .intro h2 {
    font-size: 50px;
  }

  .intro p {
    font-size: 28px;
    color: rgb(111, 117, 129);
  }